@use "@/styles/variables" as *;

.btn {
  padding: $spacing-md $spacing-lg;
  border-radius: $radius-md;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: $font-size-md;

  &--primary {
    background: $primary-color;
    color: $text-secondary;

    &:disabled {
      background: $background-disabled;
      color: $text-secondary;
      cursor: not-allowed;
    }
  }

  &--secondary {
    background: $secondary-color;
    color: $text-primary;

    &:disabled {
      background: $background-disabled;
      color: $text-secondary;
      cursor: not-allowed;
    }
  }
}
